[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=livebox-remote
Exec=livebox-remote
Name=Livebox Remote
Comment=Unofficial Livebox Remote

